.breadcrumbs {
  @include rem(14px);
  $chevronOffset: 5px;
  font: $font-arsenal-bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: to-rem(57px);
  margin-right: to-rem(-25px);

  &__chevron {
    @include rem(20px);
  }

  &__chevron-left {
    padding-right: $chevronOffset;
  }

  &__chevron-right {
    padding-left: $chevronOffset;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $primary_grey_color;

    & + & {
      margin-left: to-rem(16px);
    }
  }
}