.contact {
  font-family: $font-arsenal-bold;
  color: $primary-grey-color;

  &__wrapper {
    display: flex;
    margin-top: to-rem(30px);
    margin-bottom: to-rem(70px);
  }

  &__left {
    display: flex;
    flex-basis: $left_part_width;
  }

  &__right {
    flex-basis: $right_part_width;
  }

  &__title {
    @include rem(18px);

    margin: 0;
  }

  &__subtitle {
    @include rem(30px);

    margin: 10px 0 0 0;
  }

  &__card-icon {
    @include size(53px);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: $primary_color;
  }

  &__cards {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
  }

  &__card {
    @extend %shadow-level-2;
    @include size(232px);
    min-width: 232px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #fafafa;
    border-radius: 13px;
  }

  &__card + &__card {
    margin-left: to-rem(75px);
  }

  &__card-info {
    @include rem(18px);
    text-align: center;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}