.main-section {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% / 2 - #{$size_main_container} / 2);
    background: #d9d9d9;
    z-index: 2;
  }

  &:after {
    content: '';
    position: absolute;
    right: 55%;
    top: 0;
    height: 100%;
    width: 100%;
    background: #e4e2e2;
    background-image: linear-gradient(to right, rgba(184,195,207,0) 80%,rgba(186,195,207,1) 100%);
    z-index: 1;
  }

  .main-section__content {
    position: relative;
    padding: 40px 0;
    z-index: 2;
    background: url($bg + 'main-section-gray.png') no-repeat;
    background-position: left bottom -30px;
  }
}