.top-main {
  font-family: $font-arsenal-bold;
  color: $primary_grey_color;
  &__title {
    @include rem(48px);
    margin-top: 135px;
    margin-bottom: 70px;

    line-height: 1.2;

    .about & {
      @include rem(30px);
      margin: 70px 0;
    }
  }

  &__subtitle {
    @include rem(24px);
    margin-bottom: 40px;
  }

  &__description {
    @include rem(16px);
    font-family: $font-arsenal-bold;
    margin-bottom: 130px;
  }

  &__control {
    display: flex;

    .btn {
      margin-right: 30px;
    }
  }

  &__logo {
    display: flex;
    justify-content: flex-end;
    padding-top: 110px;
  }

  &__logo-img {
    $triangle_size: 154px;

    position: absolute;
    right: 0;
    width: calc(#{$right_part_width} + #{$triangle_size / 2});
  }
}