.header {
  $logoImagePath: '../../images/logo.jpg';
  $langSwitcherImagePath: '../../ico/';

  font-family: $font-arsenal-bold;
  width: 100%;

  background: $main-white-color;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);

  &__logo-link {
    @include size(300px, 76px);

    display: block;
    background: url(#{$logoImagePath}) no-repeat;

    &:after {

    }
  }

  &__ico {
    @include size(22px);

    margin-right: to-rem(10px);
  }

  &__contact {
    margin-left: auto;

    &-text {
      @include rem(16px);

      display: inline-flex;
      align-items: center;

      text-transform: uppercase;
      text-decoration: none;
      color: #7c90a5;
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    min-height: 120px;
  }

  &__nav {
    margin-left: auto;

    &-items {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;

      list-style-type: none;
    }

    &-item {
      margin-left: to-rem(45px);
    }

    &-link {
      @extend %anim-default;
      @include rem(16px);

      color: $nav-color-static;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: $nav-color-active;
      }
    }
    }

    &__lang-switcher {
      @include rem(16px);
      @include size(53px, 20px);

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $main-orange-color;
      color: $main-white-color;
      border-radius: 5px;
      cursor: pointer;
    }
  }

