.header {
  @extend %shadow-level-2;
  position: relative;
  font-family: $font-arsenal-bold;
  width: 100%;
  background: $main-white-color;
  z-index: 3;

  a {
    @extend %anim-default;

    text-decoration: none;
    color: $nav-color-static;

    &:hover {
      color: $nav-color-active;
    }
  }

  &__ico {
    margin-right: 10px;
  }

  &__logo-link {
    @include size(300px, 76px);
    position: relative;
    display: block;

    &:after {
      position: absolute;
      left: 34%;
      bottom: 1px;
      content: '';
      height: 3px;
      background: $main-orange-color;
      width: 521px;
      border-bottom: 1px solid $main-orange-color;
    }
  }

  &__contact {
    @include rem(16px);
    margin-left: auto;
    color: #7c90a5;
  }

  &__contact-text {
    display: flex;
    align-items: center;
  }

  &__content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    min-height: 120px;
  }

  &__nav {
    margin-left: auto;
  }

  &__nav-items {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__nav-item {
    margin-left: 45px;
  }

  &-link {
    @include rem(16px);

    color: $nav-color-static;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $nav-color-active;
    }
  }

  &__lang-switcher {
    @include rem(16px);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 18px;
    background-color: $main-orange-color;
    color: $main-white-color;
    border-radius: 5px;
    cursor: pointer;
  }
}

