<div class="about">
    <div class="container">
        <div class="top-main">
            <div class="column-wrapper">
                <div class="column column_left">
                    <h1 class="top-main__title t-upper">О нас</h1>
                    <div class="top-main__subtitle">Мы изготавливаем <br>выставочные стенды</div>
                    <div class="top-main__subtitle c-accent">от 5 м2</div>
                    <div class="top-main__description">Изготовление выставочных стендов, дизайн помещений, оформление
                        интерьеров офиса и прочие услуги. Монтаж по всей России и Европе точно в срок
                    </div>
                    <div class="top-main__control">
                        <button class="btn btn_inverse">Оставить заявку на изготовление</button>
                    </div>
                </div>
                <div class="column column_right">
                    @@include('./top-main-logo.html')
                </div>
            </div>
        </div>
    </div>
</div>