<section class="section">
    <div class="container">
        <div class="client-slider">
            <div class="client-slider__control client-slider__control_prev js-client-slider-prev">
                <i class="ico ico-arrow-left"></i>
            </div>
            <div class="client-slider__list js-client-slider">
                <a href="#" class="client-slider__item">
                    <img src="images/content/client-1.png" alt="" class="client-slider__item-img"></a>
                <a href="#" class="client-slider__item">
                    <img src="images/content/client-2.png" alt="" class="client-slider__item-img"></a>
                <a href="#" class="client-slider__item">
                    <img src="images/content/client-3.png" alt="" class="client-slider__item-img"></a>
                <a href="#" class="client-slider__item">
                    <img src="images/content/client-4.png" alt="" class="client-slider__item-img"></a>
                <a href="#" class="client-slider__item">
                    <img src="images/content/client-5.png" alt="" class="client-slider__item-img"></a>
                <a href="#" class="client-slider__item">
                    <img src="images/content/client-6.png" alt="" class="client-slider__item-img"></a>
                <a href="#" class="client-slider__item">
                    <img src="images/content/client-7.png" alt="" class="client-slider__item-img"></a>
                <a href="#" class="client-slider__item">
                    <img src="images/content/client-8.png" alt="" class="client-slider__item-img"></a>
            </div>

            <div class="client-slider__control client-slider__control_next js-client-slider-next">
                <i class="ico ico-arrow-right"></i>
            </div>
        </div>
    </div>
</section>