<section class="section section_clients">
    <div class="container">
        <div class="clients">
            <div class="clients__header">
                <div class="clients__header-inner">
                    <h1 class="clients__title t-upper">Наши клиенты</h1>
                    <div class="clients__subtitle">
                        Изготовление выставочных стендов, дизайн помещений, оформление интерьеров офиса и прочие услуги.
                        Монтаж по всей России и Европе точно в срок
                    </div>
                </div>
            </div>
            <div class="clients__grid">
                @@for (var i = 0; i < count; i++) {
                <div class="clients__grid-item">
                    <a class="clients__grid-link" href="#"><img class="clients__grid-img"
                                                                src="images/content/client-2.png" alt=""></a>
                </div>
                }
            </div>
        </div>
    </div>
</section>