<div class="contact">
  <div class="container container--column-view">
    <div class="contact__wrapper">
      <div class="contact__left">
        <div class="contact__text">
          <h4 class="contact__title">Связаться с нами</h4>
          <h2 class="contact__subtitle">Контактные данные</h2>
        </div>
      </div>
      <div class="contact__right">
        <section class="contact__cards">
          <div class="contact__card">
            <div class="contact__card-icon">
              <i class="ico ico-phone contact__ico"></i>
            </div>
            <div class="contact__card-info">
              <a href="tel:+7(915)222 00 33">+7 (915) 222 00 33</a><br>
              <a href="tel:+7(915)222 00 33">+7 (915) 222 00 33</a>
            </div>
          </div>
          <div class="contact__card">
            <div class="contact__card-icon">
              <i class="ico ico-map contact__ico"></i>
            </div>
            <div class="contact__card-info">
              Россия, 117105, Москва, <br>
              ул. Веткина, 2с4а
            </div>
          </div>
          <div class="contact__card">
            <div class="contact__card-icon">
              <i class="ico ico-comment contact__ico"></i>
            </div>
            <div class="contact__card-info">
              <a href="mailto:ustimov_ig@mail.ru">ustimov_ig@mail.ru</a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  @@include('./map.html', {
  "gray": false
  })
  @@include('./order.html')
</div>