<div class="contact">
  <div class="container">
    <div class="contact__top">
      <div class="contact__text">
        <h4 class="contact__title">Связаться с нами</h4>
        <h2 class="contact__subtitle">Контактные данные</h2>
      </div>
      <section class="contact__cards">
        <div class="contact__card">
          <div class="contact__card-icon">
            <i class="contact__card-icon ico ico-message--active contact__ico"></i>
          </div>
          <div class="contact__card-phone">
            <div>+7(915)222 00 33</div>
            <div>+7(915)222 00 33</div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>