<header class="header">
  <div class="container">
    <div class="header__content">
        <div class="header__logo">
          <a class="header__logo-link" href="#"></a>
        </div>
        <div class="header__contact"><span class="header__contact-text js-header-contact">Написать нам</span></div>
      <nav class="header__nav">
        <ul class="header__nav-items">
          <li class="header__nav-item"><a class="header__nav-link" href="#">О нас</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="#">Фоторепортажи</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="#">Что мы делаем</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="#">Контакты</a></li>
          <li class="header__nav-item"><span class="header__lang-switcher js-header-language-switcher">EN</span></li>
        </ul>
      </nav>
    </div>
  </div>
</header>