<header class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__logo">
        <a class="header__logo-link" href="./index.html">
          <img src="images/logo.png" alt="">
        </a>
      </div>
      <div class="header__contact">
        <a href="#" class="header__contact-text js-header-contact t-upper">
          <i class="ico ico-message ico-message--active header__ico"></i>
          Написать нам
        </a>
      </div>
      <nav class="header__nav">
        <ul class="header__nav-items">
          <li class="header__nav-item t-upper"><a class="header__nav-link" href="./about.html">О нас</a></li>
          <li class="header__nav-item t-upper"><a class="header__nav-link" href="#">Фоторепортажи</a></li>
          <li class="header__nav-item t-upper"><a class="header__nav-link" href="./projects.html">Что мы делаем</a></li>
          <li class="header__nav-item t-upper"><a class="header__nav-link" href="./contact.html">Контакты</a></li>
          <li class="header__nav-item t-upper"><span class="header__lang-switcher js-header-language-switcher">EN</span></li>
        </ul>
      </nav>
    </div>
  </div>
</header>