<section class="section">
    <div class="container">
        <div class="last-projects">
            <div class="last-projects__title t-upper">Последние проекты</div>
            <div class="last-projects__list">
                <div class="last-projects__item">
                    <div class="last-projects__img-container">
                        <img src="images/content/project.png" class="last-projects__img">
                    </div>
                    <div class="last-projects__content">
                        <div class="last-projects__content-header">
                        <div class="last-projects__item-title t-upper">Football Champions</div>
                        <div class="last-projects__item-description">
                            19-й Всемирный Фестиваль Молодёжи и Студентов в Сочи 2017
                        </div>
                        </div>
                        <div class="last-projects__item-square">150 м</div>
                    </div>
                </div>

                <div class="last-projects__item">
                    <div class="last-projects__img-container">
                        <img src="images/content/project.png" class="last-projects__img">
                    </div>
                    <div class="last-projects__content">
                        <div class="last-projects__content-header">
                            <div class="last-projects__item-title t-upper">Football Champions</div>
                            <div class="last-projects__item-description">
                                19-й Всемирный Фестиваль Молодёжи и Студентов в Сочи 2017
                            </div>
                        </div>
                        <div class="last-projects__item-square">150 м</div>
                    </div>
                </div>
                <div class="last-projects__item">
                    <div class="last-projects__img-container">
                        <img src="images/content/project.png" class="last-projects__img">
                    </div>
                    <div class="last-projects__content">
                        <div class="last-projects__content-header">
                            <div class="last-projects__item-title t-upper">Football Champions</div>
                            <div class="last-projects__item-description">
                                19-й Всемирный Фестиваль Молодёжи и Студентов в Сочи 2017
                            </div>
                        </div>
                        <div class="last-projects__item-square">150 м</div>
                    </div>
                </div>
                <div class="last-projects__item">
                    <div class="last-projects__img-container">
                        <img src="images/content/project.png" class="last-projects__img">
                    </div>
                    <div class="last-projects__content">
                        <div class="last-projects__content-header">
                            <div class="last-projects__item-title t-upper">Football Champions</div>
                            <div class="last-projects__item-description">
                                19-й Всемирный Фестиваль Молодёжи и Студентов в Сочи 2017
                            </div>
                        </div>
                        <div class="last-projects__item-square">150 м</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>