<div class="projects__item">
    <div class="projects__img-container">
        <img src="images/content/project.png" class="projects__img">
    </div>
    <div class="projects__content">
        <div class="projects__content-header">
            <div class="projects__item-title t-upper">Football Champions</div>
            <div class="projects__item-description">
                19-й Всемирный Фестиваль Молодёжи и Студентов в Сочи 2017
            </div>
        </div>
        <div class="projects__item-square">150 м</div>
    </div>
</div>