<section class="section">
    <div class="container">
        <div class="text-block">
            <a href="#"><img class="text-block__img" src="images/content/xerox.png" alt=""></a>
            <div class="text-block__text">Мы разрабатываем и создаем выставочные стенды, которые помогают участникам выставки эффективно представить свою компанию, продукцию и услуги. Мы стремимся работать с интересными и новыми материалами и конструкциями, а также применяем классические выставочные технологии и выставочные конструкторы (октанорм, максима). В нашем активе также имеется выставочный конструктив для строительства двухэтажных выставочных стендов. Система качества организации производственных процессов подтверждена сертификатами ИСО.
            </div>
        </div>
    </div>
</section>