<div class="container">
    <div class="top-main">
        <div class="column-wrapper">
            <div class="column column_left">
                <h1 class="top-main__title t-upper">Эксклюзивные <br>выставочные <br>стенды</h1>
                <div class="top-main__description">
                    Мы осуществялем разработку дизайна и строитество эксклюзивных выставочных стендов, техническое
                    сопровождение
                    мероприятий, формление магазинов, корпоративов и шоу-румов, проводим оснащение музейных экспозиций.
                    Кроме
                    того, осуществляем разработку и проводим оборудование под заказ.
                </div>

                <div class="top-main__control">
                    <button class="btn">Наши проекты</button>
                    <img class="projects__certificate-img" src="images/content/certificate.png" alt="">
                </div>
            </div>

            <div class="column column_right">
                <div class="top-main__logo">
                    <img src="images/big-logo.png" alt="" class="top-main__logo-img">
                </div>
            </div>
        </div>
    </div>
</div>