*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	font-family: $font-arsenal-regular;
	font-size: $font-root-size;
}

body {
	@include rem(16px);
	padding: 0;
	margin: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background: $main_bg;
}

html, body {
	height: 100%;
}

input,
select,
button {
	&:focus {
		outline: none;
	}
}

%anim-fast {
	transition: all .13s ease-in-out;
}

%anim-default {
	transition: all .26s ease-in-out;
}

%anim-medium {
	transition: all .39s ease-in-out;
}

%anim-slow {
	transition: all .52s ease-in-out;
}

.container {
	margin: 0 auto;
	max-width: $size_main_container;
}

.t-upper {
	text-transform: uppercase;
}

.flex {
	display: flex;
}

.section {
	margin: 25px 0;
}