$fontDir: '../fonts/';
$f-light: 'light/';
$f-lightitalic: 'lightitalic/';
$f-regular: 'regular/';
$f-semibold: 'semibold/';
$f-medium: 'medium/';
$f-mediumitalic: 'mediumitalic/';
$f-bold: 'bold/';
$f-bolditalic: 'bolditalic/';
$f-ex-bold: 'extrabold/';
$f-italic: 'italic/';

/*--- arsenal ---*/
$font-arsenal-path: $fontDir + 'arsenal/';
$fname-arsenal: 'arsenal';

$font-arsenal-regular: 'Arsenal Regular';
$font-arsenal-italic: 'Arsenal Italic';
$font-arsenal-bold: 'Arsenal Bold';
$font-arsenal-bold-italic: 'Arsenal Bold Italic';

@include font-face($font-arsenal-regular, $font-arsenal-path + $f-regular + $fname-arsenal, normal, normal, eot woff woff2 svg);
@include font-face($font-arsenal-italic, $font-arsenal-path + $f-italic + $fname-arsenal, normal, normal, eot woff woff2 svg);
@include font-face($font-arsenal-bold, $font-arsenal-path + $f-bold + $fname-arsenal, normal, normal, eot woff woff2 svg);
@include font-face($font-arsenal-bold-italic, $font-arsenal-path + $f-bolditalic + $fname-arsenal, normal, normal, eot woff woff2 svg);
/*--- arsenal ---*/