.ico {
	display: inline-block;
	vertical-align: middle;
	background: url($icons) no-repeat center center;

	@include ico(location, 39px);
	@include ico(message, 22px);
	@include ico(fb, 30px);
	@include ico(vk, 30px);
	@include ico(instagram, 30px);
	@include ico(arrow-left, 12px);
	@include ico(phone, 33px);
	@include ico(map, 33px);
	@include ico(comment, 33px);

	&-arrow-right {
		@extend .ico-arrow-left;
		transform: rotate(180deg);
	}
}