$images: '../images/';
$bg: $images + 'bg/';
$icons: $images + 'ico/';

$main-white-color: #fff;
$main-orange-color: #f18d33;

$nav-color-static: #848484;
$nav-color-active: #444444;

$font-root-size: 10px;

$size_main_container: 1440px;
$main_bg: #ffffff;
$primary_color: #f09039;